<div class="map-container" [class.fullscreen]="isFullscreen" (click)="onMapClick($event)">

  <!-- 🖼️ صورة الخريطة -->
  <img #mapImage [src]="imageUrl || 'assets/images/mapview1.jpg'" class="map-image" (load)="onImageLoad()">

  <!-- 📍 Anchors -->
  <div *ngFor="let anchor of anchors" class="map-anchor"
    [style.left.px]="imageOffsetX + (anchor.pixels?.x ?? getScaledX(anchor.position.x))"
    [style.top.px]="imageOffsetY + (anchor.pixels?.y ?? getScaledY(anchor.position.y))"
    (click)="onAnchorClick($event,anchor)">
    <img src="assets/icons/service-anchor.png" [alt]="anchor.name" [title]="anchor.name">

    <span>{{ anchor.name }}</span>
  </div>

  <!-- ✨ Preview Anchor -->
  <div *ngIf="previewPos" class="map-anchor preview"
    [style.left.px]="imageOffsetX + (previewPos.pixelX ?? previewPos.x)"
    [style.top.px]="imageOffsetY + (previewPos.pixelY ?? previewPos.y)">

    <img src="assets/icons/service-anchor.png" alt="New anchor">
  </div>

</div>

<div class="map-actions">

</div>