<div class="map-container" [class.fullscreen]="isFullscreen" (click)="onMapClick($event)">

  <img #mapImage
       [src]="imageUrl || 'assets/images/mapview1.jpg'"
       class="map-image"
       (load)="onImageLoad()">

  <div *ngFor="let anchor of anchors"
     class="map-anchor"
     [style.left.px]="getScaledX(anchor.position.x)"
     [style.top.px]="getScaledY(anchor.position.y)"
     (click)="onAnchorClick($event, anchor)">
  <img src="assets/icons/service-anchor.png"
       [alt]="anchor.name"
       [title]="anchor.name">
  <span>{{ anchor.name }}</span>
</div>


  <div *ngIf="previewPos"
       class="map-anchor"
       [style.left.px]="getScaledX(previewPos.x)"
       [style.top.px]="getScaledY(previewPos.y)">
    <img src="assets/icons/service-anchor.png" alt="New anchor">
  </div>
</div>