<div class="sidebar-wrapper">

  <!-- ADD NEW BUTTON -->
  <button class="add-new-btn" (click)="openAnchorDetails()">
    <span class="plus-icon">＋</span>
    Add New
  </button>

  <!-- =============== ANCHORS LIST =============== -->
  <div class="accordion-item">

    <div class="accordion-header" (click)="toggleAnchorsList()">
      <div class="left">
        <img src="assets/icons/menu.svg" class="icon" alt="menu">
        <span class="title">Anchors List</span>
      </div>

      <div class="count-box">
        <span class="value">{{ anchors.length }}</span>/<span class="total">30</span>
      </div>

      <img src="assets/icons/chevron.png"
           width="8"
           class="chevron"
           [class.open]="isAnchorsListOpen">
    </div>

    @if (isAnchorsListOpen) {
      <div class="accordion-content">

        <!-- Navigation Anchors -->
        <div class="anchor-section">
          <div class="section-header">
            <span class="section-dot nav"></span>
            <span class="section-title">Navigation Anchors</span>
          </div>

          <ul class="anchor-list">
            @for (anchor of anchors; track anchor.id) {
              @if (anchor.type === 'Navigation') {

                <li class="anchor-row">
                  <span class="anchor-name">{{ anchor.name }}</span>

                  <button
                    type="button"
                    class="anchor-delete-btn"
                    (click)="onDeleteClick(anchor, $event)">
                    🗑
                  </button>
                </li>

              }
            }
          </ul>
        </div>

        <!-- Service Anchors -->
        <div class="anchor-section">
          <div class="section-header">
            <span class="section-dot service"></span>
            <span class="section-title">Service Anchors</span>
          </div>

          <ul class="anchor-list">
            @for (anchor of anchors; track anchor.id) {
              @if (anchor.type === 'Service') {

                <li class="anchor-row">
                  <span class="anchor-name">{{ anchor.name }}</span>

            
                  <button
                    type="button"
                    class="anchor-delete-btn"
                    (click)="onDeleteClick(anchor, $event)">
                    🗑
                  </button>
                </li>

              }
            }
          </ul>
        </div>

      </div>
    }
  </div>

  @if (isDeleteConfirmOpen) {
    <div class="delete-modal-backdrop">
      <div class="delete-modal">
        <h3>Delete this anchor?</h3>
        <p>
          After deleting this anchor, it will be removed from the stadium map
          and will no longer appear in the end-user mobile app.
        </p>

        <div class="delete-modal-actions">
          <button type="button" class="btn-cancel" (click)="cancelDelete()">
            Cancel
          </button>

          <button type="button" class="btn-delete" (click)="confirmDelete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  }

</div>
  
  <!-- =============== ANCHOR DETAILS =============== -->
  <div class="accordion-item">

    <div class="accordion-header" (click)="toggleAnchorDetails()">
      <div class="left">
        <img src="assets/icons/info.svg" class="icon" alt="info">
        <span class="title">Anchor Details</span>
      </div>

      <img src="assets/icons/chevron.png"
           width="8"
           class="chevron"
           [class.open]="isAnchorDetailsOpen">
    </div>

    @if (isAnchorDetailsOpen) {
      <div class="accordion-content">
        <div class="details-form">

          <!-- Anchor Name -->
          <label class="form-label">Anchor Name</label>
          <input
            type="text"
            class="form-input"
            placeholder="Enter a name"
            name="anchorName"
            [(ngModel)]="anchorForm.name">

            <div *ngIf="anchorForm.name && anchorForm.name.length > 50" class="error-text">
  Name cannot exceed 50 characters.
</div>

          <!-- Anchor Type -->
          <label class="form-label">Anchor Type</label>
          <div class="select-box">
            <select
              name="anchorType"
              [(ngModel)]="anchorForm.type">
              <option [ngValue]="''" disabled>Select a type</option>
              <option value="Navigation">Navigation</option>
              <option value="Service">Service</option>
            </select>
            <img src="assets/icons/chevron.png" class="chevron-select">
          </div>

          <!-- Description -->
          <label class="form-label">Anchor Description</label>
          <textarea
            class="form-textarea"
            placeholder="Enter a description here"
            name="anchorDescription"
            [(ngModel)]="anchorForm.description"></textarea>

          <!-- Coordination -->
          <label class="form-label">Coordination</label>

          <div class="coord-grid">

            <!-- Position -->
            <div class="coord-item">
              <label>Position</label>
              <div class="xyz-row">
                <div class="xyz-input">
                  <span>X</span>
                  <input
                    type="number"
                    name="posX"
                    [(ngModel)]="anchorForm.position.x">
                </div>
                <div class="xyz-input">
                  <span>Y</span>
                  <input
                    type="number"
                    name="posY"
                    [(ngModel)]="anchorForm.position.y">
                </div>
                <div class="xyz-input">
                  <span>Z</span>
                  <input
                    type="number"
                    name="posZ"
                    [(ngModel)]="anchorForm.position.z">
                </div>
              </div>
            </div>

            <!-- Scale -->
            <div class="coord-item">
              <label>Scale</label>
              <div class="xyz-row">
                <div class="xyz-input">
                  <span>X</span>
                  <input
                    type="number"
                    name="scaleX"
                    [(ngModel)]="anchorForm.scale.x">
                </div>
                <div class="xyz-input">
                  <span>Y</span>
                  <input
                    type="number"
                    name="scaleY"
                    [(ngModel)]="anchorForm.scale.y">
                </div>
                <div class="xyz-input">
                  <span>Z</span>
                  <input
                    type="number"
                    name="scaleZ"
                    [(ngModel)]="anchorForm.scale.z">
                </div>
              </div>
            </div>

            <!-- Rotation -->
            <div class="coord-item">
              <label>Rotation</label>
              <div class="xyz-row">
                <div class="xyz-input">
                  <span>X</span>
                  <input
                    type="number"
                    name="rotX"
                    [(ngModel)]="anchorForm.rotation.x">
                </div>
                <div class="xyz-input">
                  <span>Y</span>
                  <input
                    type="number"
                    name="rotY"
                    [(ngModel)]="anchorForm.rotation.y">
                </div>
                <div class="xyz-input">
                  <span>Z</span>
                  <input
                    type="number"
                    name="rotZ"
                    [(ngModel)]="anchorForm.rotation.z">
                </div>
              </div>
            </div>

          </div>

          <!-- Apply Button -->
<button
  class="apply-btn"
  [disabled]="!isFormValid()"
  [ngClass]="{'green-btn': isFormValid(), 'gray-btn': !isFormValid()}"
  (click)="onApply()">
  Apply
</button>

        </div>
      </div>
    }
  </div>


